## Sets

In [ ]:
# Question 1
# Create a set of numbers: 1, 2, 3, 4, 5.
# Print the set.

# Write your code here

In [ ]:
# Question 2
# Create a set with strings "apple", "banana", "cherry".
# Add the string "orange" to the set and print it.

# Write your code here

In [ ]:
# Question 3
# Given the set {1, 2, 3, 4, 5}, remove the number 3 from the set using .remove().
# Then print the updated set.

# Write your code here

In [ ]:
# Question 4
# Create two sets: set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}.
# Find the intersection of both sets and print the result.

# Write your code here

In [ ]:
# Question 5
# Create two sets: set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}.
# Find the union of both sets and print the result.

# Write your code here

In [ ]:
# Question 6
# Create a set {1, 2, 3} and another set {2, 3, 4}.
# Find the difference between the sets and print the result.

# Write your code here

In [ ]:
# Question 7
# Create a set with the string values "apple", "banana", "cherry".
# Check if "banana" exists in the set and print True if it does, False otherwise.

# Write your code here

In [ ]:
# Question 8
# Given the list with duplicate elements: [1, 2, 2, 3, 4, 4, 5],
# Remove the duplicates by converting the list to a set and then back to a list.
# Print the updated list.

# Write your code here